<!DOCTYPE html>
<html>
<head>
  <title>{{sitename}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<h1>TEST TEST TEST</h1>





<h2>Sign in</h2>

<form action="/api/account/sign_in" method="post">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" name="username" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" name="password" />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1" />
        <label class="form-check-label" for="gridCheck1">
          Example checkbox
        </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>


<h2>Sign out</h2>

<form action="/api/account/sign_out" method="post">
  <button type="submit" class="btn btn-primary">Sign out</button>
</form>


<h2>Sign up</h2>

<form action="/api/account" method="post">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" name="username" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" name="password" />
    </div>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" name="password_confirmation" />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign up</button>
</form>



<div class="footer">
  <p>
    <b>Version</b> - {{version}} #{{commit}} -
  <p>
</div>
  <script type="text/javascript" src={{SCRIPT_URL}}></script>
</body>
</html>
